.actionGroup {
  display: flex;
  gap: 8px;
}

.actionButton {
  background-color: #e3e3e3 !important; /* Override Mantine default */
  border-radius: 8px !important;
  padding: 8px 20px !important;
  font-weight: 500 !important;
  color: #37474f !important;
  transition: all 0.2s ease !important;
  border: none !important; /* Remove any default border */
}

.actionButton:hover {
  filter: brightness(1.1) !important;
}

.addButton {
  background-color: #37474f !important; /* Override Mantine default */
  border-radius: 8px !important;
  padding: 8px 20px !important;
  font-weight: 500 !important;
  color: white !important;
  transition: all 0.2s ease !important;
  border: none !important; /* Remove any default border */
}

.addButton:hover {
  filter: brightness(1.1) !important;
}

.searchInput input {
  border: 1px solid white !important;
  background-color: white !important;
  color: #263238 !important;
  border-radius: 8px !important;
  padding: 8px 20px !important;
}

.searchInput :global(.mantine-TextInput-rightSection) {
  color: #263238 !important;
}
